{% extends "base.html" %}
{% import "macros/form_macros.html" as helpers %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="content-card">
            <h2 class="text-center mb-4">Change Password</h2>
            <hr>
            <form method="POST" action="" novalidate>
                {{ form.hidden_tag() }}

                {{ helpers.render_field(form.old_password) }}
                {{ helpers.render_field(form.new_password) }}
                {{ helpers.render_field(form.confirm_password) }}

                <div class="d-grid gap-2 mt-4">
                    {{ form.submit(class="btn btn-warning") }}
                    <a href="{{ url_for('users.profile') }}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}